@{
    ViewData["Title"] = "Home Page";
}

<!-- Main Content -->
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Advanced Software Engineering Project Phase 2 Will Be Contained Here</h1>
    
</div>
<div class="container1">
    <img class="img-fluid" style="max-width: 100%" src="https://i.pinimg.com/originals/b9/4a/22/b94a22777f0ccc929ab6c3e8114f5737.jpg">
</div>